
<div>
    <link rel="stylesheet" href="/style_footer.css">
    <div class="footer_wrapper">
        <div id="footer">
            <p>&copy; 2021 NKS | Interview Prep Tracker. All Rights Reserved.</p>
        </div>
    </div>
</div>
</body>
</html>