<!-- ***** Footer Start ***** -->
<br>
<br>
<br>
<footer id="contact-us">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                
                <div class="right-content col-lg-12 col-md-12 col-sm-12" style="padding-left: 100px;">
                    <h2>More About <em>INTERVIEW - TRACKER</em></h2>
                    <p> <br><br>Follow us on Social Media <a
                            rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact</a> page
                        for more details.</p>
                    <ul class="social">
                        <li><a href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="sub-footer">
                    <p>Copyright &copy; 2020 Lava Landing Page

                    | Designed by <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="/popper.js"></script>
<script src="/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="/owl-carousel.js"></script>
<script src="/scrollreveal.min.js"></script>
<script src="/waypoints.min.js"></script>
<script src="/jquery.counterup.min.js"></script>
<script src="/imgfix.min.js"></script>

<!-- Global Init -->
<script src="/custom.js"></script>
<script>
    document.getElementById('Contributebutton1').addEventListener('click',function(){
        document.querySelector('.bg-modal1').style.display = 'flex';  
    });
    document.querySelector('.close1').addEventListener('click', function(){
        document.querySelector('.bg-modal1').style.display = 'none'; 
        
    });
    document.getElementById('Contributebutton2').addEventListener('click',function(){
        document.querySelector('.bg-modal2').style.display = 'flex';  
    });
    document.querySelector('.close2').addEventListener('click', function(){
        document.querySelector('.bg-modal2').style.display = 'none'; 
        
    });
</script>

</body>
</html>
