<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Interview Tracker</title>
<!--
Lava Landing Page
https://templatemo.com/tm-540-lava-landing-page
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/bootstrapmin.css">

    <link rel="stylesheet" type="text/css" href="/font-awesome.css">

    <link rel="stylesheet" href="/templatemo-lava.css">
    <link rel="stylesheet" href="/owl-carousel.css">

</head>

<body>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">
                            INTERVIEW TRACKER
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            
                            <li><a class="scroll-to-section" href="/topics" class="menu-item">PRACTISE</a></li>
                            <li><a class="scroll-to-section" href="/companys" class="menu-item">INTERVIEW EXPERIENCE</a>
                            </li>
                            <li class="dropdown scroll-to-section">
                                <a class=" dropdown-toggle" href="#"  role="button" data-toggle="dropdown"> Contribute </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <button style="border: white;background-color: white;"><a class="dropdown-item" id="Contributebutton1" href="/formQuestion">Question</a></button>
                                  <button style="border: white;background-color: white;"><a class="dropdown-item" id="Contributebutton2" href="/formExperience">Experience</a></button>
                                </div> 
                              </li>
                              <% if(user){ %>
                                <li><a class="scroll-to-section" href="/logout" class="menu-item">Log out</a></li>
                                <% } %>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
