<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Interview Tracker</title>
<!--

Lava Landing Page

https://templatemo.com/tm-540-lava-landing-page

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/bootstrapmin.css">

    <link rel="stylesheet" type="text/css" href="/font-awesome.css">

    <link rel="stylesheet" href="/templatemo-lava.css">
    <link rel="stylesheet" href="/owl-carousel.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">
                            INTERVIEW TRACKER
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            
                            <li class="scroll-to-section"><a href="/topics" class="menu-item">PRACTISE</a></li>
                            <li class="scroll-to-section"><a href="/companys" class="menu-item">INTERVIEW EXPERIENCE</a>
                            </li>
                            <li class="dropdown scroll-to-section">
                                <a class=" dropdown-toggle" href="#"  role="button" data-toggle="dropdown"> Contribute </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="/formQuestion">Question</a>
                                  <a class="dropdown-item" href="/formExperience">Experience </a>
                                </div>
                              </li>
                              <% if(user){ %>
                                <li><a class="scroll-to-section" href="/logout" class="menu-item">Log out</a></li>
                                <% } %>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
