<%- include('partials/header'); -%>
<br>
<br>
<br>
<br>
<br>

<link rel="stylesheet" href="/style_experience.css">
<div class="bg-modal2">
    <div class="modal-content">
        <div class="close2" id="close2">
          <a href="/">  + </a> 
        </div>
        <form action="">
            <h3>CONTRIBUTE EXPERIENCE </h3><br>
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" required>
                <div class="name error"></div>

                <label for="title">Title</label>
                <input type="text" name="title" required>
                <div class="title error"></div>

                <label for="image">Image</label>
                <input type="text" name="image" required>
                <div class="image error"></div>
            
                <label for="company">Company</label><br>
                <select name='company' required>
                <% companys.forEach(function(company) { %>
                    <option value=<%- company._id %>><%- company.name %></option>
                <% }); %>
                </select>
                <div class="company error"></div>

                <label for="description">Description</label>
                <input type="text" name="description" required>
                <div class="description error"></div>
            </div>
            <br>
            <div>
                <button type='submit' class=" btn btn-default btn-primary fa" >
                    <i class="fa fa-paper-plane"></i> Add </button>
            </div>
        </form>
    </div>
</div> 

        
   
      <script >
        const form = document.querySelector('form');
        const nameError = document.querySelector('.name.error');
        const titleError = document.querySelector('.title.error');
        const imageError = document.querySelector('.image.error');
        const companyError = document.querySelector('.company.error');
        const descriptionError = document.querySelector('.description.error');
        form.addEventListener('submit' , async (e) =>{
            e.preventDefault();
            const name = form.name.value;
            const title = form.title.value;
            const image = form.image.value;
            const company = form.company.value;
            const description = form.description.value;
            nameError.textContent = '';
            titleError.textContent = '';
            imageError.textContent='';
            companyError.textContent = '';
            descriptionError.textContent = '';
            try {
                    const res = await fetch('/formExperience', {
                        method: 'POST',
                        body: JSON.stringify({name,title,image,company,description}),
                        headers: {'Content-Type':'application/json'}
                    });
                const data = await res.json();
                if(data.errors){
                    nameError.textContent = data.errors.name;
                    titleError.textContent = data.errors.link;
                    imageError.textContent=data.errors.image;
                    companyError.textContent = data.errors.topic;
                    descriptionError.textContent=data.errors.description;
                }

                alert('done vro ;) thanks for contribuition :/ ');
               location.assign('/');
            
            } catch (error) {
                console.log(error);
            }
            });
    
               </script>


<%- include('partials/footer'); -%>



