<%- include('partials/header_home'); -%>

<br>
<br>

<div>
  <div class="container-fluid bg">
    <div class="row ">
      <div class="column">
          <div class="row">
              <div class="card">
                <h3>ARRAYS</h3><br>
                <a href="">Get Started</a>
              </div>
            </div>
            <br>
            <br>
          
            <div class="row">
              <div class="card">
                <h3>TREES</h3><br>
                <a href="">Get Started</a>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="card">
                <h3>HEAPS</h3><br>
                <a href="">Get Started</a>
              </div>
            </div>
  
      </div>
      
      <div class="column">
          <div class="row">
              <div class="card">
                <h3>QUEUES</h3><br>
                <a href="">Get Started</a>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="card">
                <h3>POINTERS</h3><br>
                <a href="">Get Started</a>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="card">
                <h3>STACKS</h3><br>
                <a href="">Get Started</a>
              </div>
            </div>
      </div>
      
    </div>
  </div>
</div>
