<%- include('partials/header'); -%>

<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
    <h2>holaaaaa</h2>
    <h2><a href="/inside" class="btn">View inside news .. secret!!!</a></h2>
<!-- </body>
</html> -->



<%- include('partials/footer'); -%>