<%- include('partials/header'); -%>
<link rel="stylesheet" href="/style_topics.css">
<div class="topics_bg">
    <div class="topics_box">
        <h1>Eat Sleep Code :)</h1>
        <br>
        <br>
        <br>
        <br>
        <a href='/topics'><h1>Attack</h1></a>
    </div>
</div>
<%- include('partials/footer'); -%>