<%- include('partials/header'); -%>

<div class="container-fluid form">
    <form action="/login">
        <h4>Log In</h4>
        <!--<label for="email">Email</label> -->
        <input type="email" name="email" placeholder="Email" class="form-control" required>
        <div class="email error"></div>
        <br>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <div class="password error"></div>
        <br>
        <button type='submit' class="btn btn-default btn-primary fa" > <i class="fa fa-paper-plane"></i> Log In </button>
        <h5>Don't have an account ?<a href="/signup"> Sign up </a></h5>
    </form>
</div>

<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');
    form.addEventListener('submit' , async (e) =>{
        e.preventDefault();
        emailError.textContent = '';
        passwordError.textContent = '';
        const email = form.email.value;
        const password = form.password.value;
        try {
            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({email,password}),
                headers: {'Content-Type':'application/json'}
            });
            const data = await res.json();
            console.log(data);
            if(data.errors){
                emailError.textContent = data.error.email;
                passwordError.textContent = data.error.password;
            }
            if(data.user){
                location.assign('/');
            }
        } catch (error) {
            console.log(error);
        }
    });
</script>


<%- include('partials/footer'); -%>