<%- include('partials/header'); -%>

   <link rel="stylesheet" href="/style_auth.css"> 
    <div class="panda">
        <div class="ear"></div>
        <div class="face">
          <div class="eye-shade"></div>
          <div class="eye-white">
            <div class="eye-ball"></div>
          </div>
          <div class="eye-shade rgt"></div>
          <div class="eye-white rgt">
            <div class="eye-ball"></div>
          </div>
          <div class="nose"></div>
          <div class="mouth"></div>
        </div>
        <div class="body"> </div>
    </div>

    <form action="/login">
        <div class="hand"></div>
        <div class="hand rgt"></div>
        <h1>Panda Login</h1>

        <div class="form-group">
          <input name='email' id="email" type="email" required="required" class="form-control"/>
          <label class="form-label">email   </label>
          <div class="email error"></div>
        </div>

        <div class="form-group">
          <input name='password' id="password" type="password" required="required" class="form-control"/>
          <label class="form-label">Password</label>
          <div class="password error"></div>
        </div>

        <button type='submit' class="btn btn-default btn-primary fa"><i class="fa fa-paper-plane"></i>Login </button>

          <div>
          <p>Don't have an account ?<a href="/signup"> Signup </a></p>
          </div>   
      </form>

      <script>
        const form = document.querySelector('form');
        console.log('hello');
        const emailError = document.querySelector('.email.error');
        const passwordError = document.querySelector('.password.error');
        form.addEventListener('submit' , async (e) =>{
            e.preventDefault();
            emailError.textContent = '';
            passwordError.textContent = '';
            const email = form.email.value;
            const password = form.password.value;
            try {
                const res = await fetch('/login', {
                    method: 'POST',
                    body: JSON.stringify({email,password}),
                    headers: {'Content-Type':'application/json'}
                });
                const data = await res.json();
                console.log(data);
                if(data.errors){
                    emailError.textContent = data.error.email;
                    passwordError.textContent = data.error.password;
                }
                if(data.user){
                    location.assign('/');
                }
            } catch (error) {
                console.log(error);
            }
        });
         </script>
    

<%- include('partials/footer'); -%>