<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">

        @import url(https://fonts.googleapis.com/css?family=Dancing+Script|Roboto);
        *,
        *:after,
        *:before {
        box-sizing: border-box;
        }

        body {
        background: bisque;
        text-align: center;
        font-family: "Roboto", sans-serif;
        }

        .panda {
        position: relative;
        width: 200px;
        margin: 50px auto;
        }

        .face {
        width: 200px;
        height: 200px;
        background: #fff;
        border-radius: 100%;
        margin: 50px auto;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
        z-index: 50;
        position: relative;
        }

        .ear, .ear:after {
        position: absolute;
        width: 80px;
        height: 80px;
        background: #000;
        z-index: 5;
        border: 10px solid #fff;
        left: -15px;
        top: -15px;
        border-radius: 100%;
        }
        .ear:after {
        content: "";
        left: 125px;
        }

        .eye-shade {
        background: #000;
        width: 50px;
        height: 80px;
        margin: 10px;
        position: absolute;
        top: 35px;
        left: 25px;
        transform: rotate(220deg);
        border-radius: 25px/20px 30px 35px 40px;
        }
        .eye-shade.rgt {
        transform: rotate(140deg);
        left: 105px;
        }

        .eye-white {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: #fff;
        z-index: 500;
        left: 40px;
        top: 80px;
        overflow: hidden;
        }
        .eye-white.rgt {
        right: 40px;
        left: auto;
        }

        .eye-ball {
        position: absolute;
        width: 0px;
        height: 0px;
        left: 20px;
        top: 20px;
        max-width: 10px;
        max-height: 10px;
        transition: 0.1s;
        }
        .eye-ball:after {
        content: "";
        background: #000;
        position: absolute;
        border-radius: 100%;
        right: 0;
        bottom: 0px;
        width: 20px;
        height: 20px;
        }

        .nose {
        position: absolute;
        height: 20px;
        width: 35px;
        bottom: 40px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50px 20px/30px 15px;
        transform: rotate(15deg);
        background: #000;
        }

        .body {
        background: #fff;
        position: absolute;
        top: 200px;
        left: -20px;
        border-radius: 100px 100px 100px 100px/126px 126px 96px 96px;
        width: 250px;
        height: 282px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        }

        .hand, .hand:after, .hand:before {
        width: 40px;
        height: 30px;
        border-radius: 50px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
        background: #000;
        margin: 5px;
        position: absolute;
        top: 70px;
        left: -25px;
        }
        .hand:after, .hand:before {
        content: "";
        left: -5px;
        top: 11px;
        }
        .hand:before {
        top: 26px;
        }
        .hand.rgt, .rgt.hand:after, .rgt.hand:before {
        left: auto;
        right: -25px;
        }
        .hand.rgt:after, .hand.rgt:before {
        left: auto;
        right: -5px;
        }

        form {
        display: none;
        max-width: 400px;
        padding: 20px 40px;
        background: #fff;
        height: 450px;
        margin: auto;
        display: block;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
        transition: 0.3s;
        position: relative;
        transform: translateY(-100px);
        z-index: 500;
        border: 1px solid #eee;
        }
        .form.up {
        transform: translateY(-180px);
        }

        h1 {
        color: #ff4081;
        font-family: "Dancing Script", cursive;
        }

        .btn {
        background: #fff;
        padding: 5px;
        width: 150px;
        height: 35px;
        border: 1px solid #ff4081;
        margin-top: 25px;
        cursor: pointer;
        transition: 0.3s;
        box-shadow: 0 50px #ff4081 inset;
        color: #fff;
        }

        .form-group {
        position: relative;
        font-size: 15px;
        color: #666;
        }
        .form-group + .form-group {
        margin-top: 30px;
        }
        .form-group .form-label {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 5px;
        transition: 0.3s;
        }
        .form-group .form-control {
        width: 100%;
        position: relative;
        z-index: 3;
        height: 35px;
        background: none;
        border: none;
        padding: 5px 0;
        transition: 0.3s;
        border-bottom: 1px solid #777;
        color: #555;
        }
        .form-group .form-control:invalid {
        outline: none;
        }
        .form-group .form-control:focus, .form-group .form-control:valid {
        outline: none;
        box-shadow: 0 1px #ff4081;
        border-color: #ff4081;
        }
        .form-group .form-control:focus + .form-label, .form-group .form-control:valid + .form-label {
        font-size: 12px;
        color: #ff4081;
        transform: translateY(-15px);
        }


           </style>          
    <title>Document</title>
</head>
<body>

    <div class="panda">
        <div class="ear"></div>
        <div class="face">
          <div class="eye-shade"></div>
          <div class="eye-white">
            <div class="eye-ball"></div>
          </div>
          <div class="eye-shade rgt"></div>
          <div class="eye-white rgt">
            <div class="eye-ball"></div>
          </div>
          <div class="nose"></div>
          <div class="mouth"></div>
        </div>
        <div class="body"> </div>
      </div>

      <form action="/signup">
        <div class="hand"></div>
        <div class="hand rgt"></div>
        <h1>Panda SignUp</h1>

        <div class="form-group">
          <input type='email' name='email' required="required" class="form-control"/>
          <label class="form-label">Email    </label>
          <div class="email error"></div>
        </div>

        <div class="form-group">
            <input type='text' name='username' required="required" class="form-control"/>
            <label class="form-label">Username    </label>
            <div class="username error"></div>
          </div>

        <div class="form-group">
          <input id="password" name='password' type="password" required="required" class="form-control"/>
          <label class="form-label">Password</label>
          <div class="password error"></div>
        </div>

        <div class="form-group">
            <input id="confirmPassword" name='confirmPassword' type="password" required="required" class="form-control"/>
            <label class="form-label">confirm Password</label>
            <div class="confirmPassword error"></div>
          </div>

        <button type='submit' class="btn btn-default btn-primary fa" > <i class="fa fa-paper-plane"></i> SignUp </button>
        <div>
          <p>Already have an account ?<a href="/login"> Login </a></p>
        </div>
        </div>
      </form>
   
      <script >
        const form = document.querySelector('form');
        const emailError = document.querySelector('.email.error');
        const usernameError = document.querySelector('.username.error');
        const passwordError = document.querySelector('.confirmPassword.error');
        form.addEventListener('submit' , async (e) =>{
            e.preventDefault();
            const email = form.email.value;
            const username = form.username.value;
            const password = form.password.value;
            const confirmPassword = form.confirmPassword.value;
            emailError.textContent = '';
            usernameError.textContent = '';
            passwordError.textContent = '';
            if(confirmPassword != password){
                passwordError.textContent = 'Password not matching';
            }else{
                try {
                    const res = await fetch('/signup', {
                        method: 'POST',
                        body: JSON.stringify({email,username,password}),
                        headers: {'Content-Type':'application/json'}
                    });
                const data = await res.json();
                if(data.errors){
                    emailError.textContent = data.errors.email;
                    usernameError.textContent = data.errors.username;
                    passwordError.textContent = data.errors.password;
                }
                if(data.user){
                    location.assign('/');
                }
            } catch (error) {
                console.log(error);
            }
            }
            });
    
               </script>
 </body>
</html>

