<%- include('partials/header'); -%>

<div class="container-fluid form">
    <form action="/signup">
        <h4>Sign Up</h4>
        <!-- <label for="email">Email</label> -->
        <br>
        <input type="email" name='email' placeholder="Email" class="form-control" required>
        <div class="email error"></div>
        <!-- <label for="username">Username</label> -->
        <br>
        <input type="text" name='username' placeholder="Username" class="form-control" required>
        <div class="username error"></div> 
        <!--<label for="password">Password</label> -->
        <br>
        <input type="password" name="password" placeholder="Password" class="form-control" required>
        <div class="password error"></div>
        <!-- <label for="ConfirmPassword">Confirm Password</label> -->
        <br>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" class="form-control" required>
        <div class="confirmPassword error"></div> 
        <br>
        <button type='submit' class="btn btn-default btn-primary fa" > <i class="fa fa-paper-plane"></i> SignUp </button>
        <h5>Already have an account ?<a href="/login"> Log In </a></h5>
    </form>
</div>


<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const usernameError = document.querySelector('.username.error');
    const passwordError = document.querySelector('.confirmPassword.error');
    form.addEventListener('submit' , async (e) =>{
        e.preventDefault();
        const email = form.email.value;
        const username = form.username.value;
        const password = form.password.value;
        const confirmPassword = form.confirmPassword.value;
        emailError.textContent = '';
        usernameError.textContent = '';
        passwordError.textContent = '';
        if(confirmPassword != password){
            passwordError.textContent = 'Password not matching';
        }else{
            try {
                const res = await fetch('/signup', {
                    method: 'POST',
                    body: JSON.stringify({email,username,password}),
                    headers: {'Content-Type':'application/json'}
                });
            const data = await res.json();
            if(data.errors){
                emailError.textContent = data.errors.email;
                usernameError.textContent = data.errors.username;
                passwordError.textContent = data.errors.password;
            }
            if(data.user){
                location.assign('/');
            }
        } catch (error) {
            console.log(error);
        }
        }
        });
</script>


<%- include('partials/footer'); -%>