<%- include('partials/header_signup_login'); -%>

    <div class="panda">
        <div class="ear"></div>
        <div class="face">
          <div class="eye-shade"></div>
          <div class="eye-white">
            <div class="eye-ball"></div>
          </div>
          <div class="eye-shade rgt"></div>
          <div class="eye-white rgt">
            <div class="eye-ball"></div>
          </div>
          <div class="nose"></div>
          <div class="mouth"></div>
        </div>
        <div class="body"> </div>
      </div>

      <form action="/signup">
        <div class="hand"></div>
        <div class="hand rgt"></div>
        <h1 style="color: #ff4081;
        font-weight: bolder;
        font-size: 30px;
        font-family: 'Dancing Script', cursive;">Panda SignUp</h1>

        <div class="form-group">
          <input type='email' name='email' required="required" class="form-control"/>
          <label class="form-label">Email    </label>
          <div class="email error"></div>
        </div>

        <div class="form-group">
            <input type='text' name='username' required="required" class="form-control"/>
            <label class="form-label">Username    </label>
            <div class="username error"></div>
          </div>

        <div class="form-group">
          <input id="password" name='password' type="password" required="required" class="form-control"/>
          <label class="form-label">Password</label>
          <div class="password error"></div>
        </div>

        <div class="form-group">
            <input id="confirmPassword" name='confirmPassword' type="password" required="required" class="form-control"/>
            <label class="form-label">confirm Password</label>
            <div class="confirmPassword error"></div>
          </div>

          <button type='submit' class=" btn-default btn-primary fa" style="
          background: #fff;
          padding: 5px;
          width: 150px;
          height: 35px;
          border: 1px solid #ff4081;
          margin-top: 25px;
          cursor: pointer;
          transition: 0.3s;
          box-shadow: 0 50px #ff4081 inset;
          color: #fff;
          "><i class="fa fa-paper-plane"></i> SignUp </button>
        <div>
          <br>
          <p>Already have an account ?<a href="/login"> Login </a></p>
        </div>
        </div>
      </form>
   
      <script >
        const form = document.querySelector('form');
        const emailError = document.querySelector('.email.error');
        const usernameError = document.querySelector('.username.error');
        const passwordError = document.querySelector('.confirmPassword.error');
        form.addEventListener('submit' , async (e) =>{
            e.preventDefault();
            const email = form.email.value;
            const username = form.username.value;
            const password = form.password.value;
            const confirmPassword = form.confirmPassword.value;
            emailError.textContent = '';
            usernameError.textContent = '';
            passwordError.textContent = '';
            if(confirmPassword != password){
                passwordError.textContent = 'Password not matching';
            }else{
                try {
                    const res = await fetch('/signup', {
                        method: 'POST',
                        body: JSON.stringify({email,username,password}),
                        headers: {'Content-Type':'application/json'}
                    });
                const data = await res.json();
                if(data.errors){
                    emailError.textContent = data.errors.email;
                    usernameError.textContent = data.errors.username;
                    passwordError.textContent = data.errors.password;
                }
                if(data.user){
                    location.assign('/');
                }
            } catch (error) {
                console.log(error);
            }
            }
            });
    
               </script>


<%- include('partials/footer_signup_login'); -%>



