<%- include('partials/header'); -%>

<h1>Wecome to topics</h1>
<ul>
    <% topics.forEach(function(topic) { %>
    <li><a href ='<%- topic.name %>' ><%- topic.name %></a></li>
    <% }); %>
</ul>

<%- include('partials/footer'); -%>