<%- include('partials/header'); -%>


<section class="section" id="about">
    <div class="container " style="text-align: center; color:red;">
        <h3> LET'S START SOLVING </h3>
        <% topics.forEach(function(topic) { %>
        <div class="column" style="padding-top: 50px;">
            <div class="row-lg-4 row-md-6 row-sm-12 row-xs-12"
                data-scroll-reveal="enter right move 30px over 0.6s after 0.4s" style="background-color: thistle;">
                <div class="features-item">
                    <div class="features-icon">
                        <img src="/images/features-icon-3.png" alt="">
                        
                            <h3><%- topic.name %></h3>
                            <a href ='/topics/<%- topic.name %>'> Practise</a>
                        
                    </div>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</section>

<%- include('partials/footer'); -%> 


