<%- include('partials/header'); -%>

<link rel="stylesheet" href="/style_topics.css">
<div class="topics_bg">
<div class="topics_box">
<h1>Wecome to topics</h1>
<br>
<br>
<ol class="menu_list">
    <% topics.forEach(function(topic) { %>
    <li class="menu_item"><a class="menu_headline" href ='/topics/<%- topic.name %>' ><%- topic.name %></a></li>
    <% }); %>
</ul>
</div>
</div>
<%- include('partials/footer'); -%>